*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.container-cadastro{
    margin: auto;
    text-align: center;
    justify-items: center;
    width: 300px;
    height: 400px;

    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 20px;
}

.container-cadastro input{
    margin-top: 15px;
    border-radius: 10px;
}

.container-cadastro h2{
    color: yellowgreen;
    font-size: larger;
}

.container-cadastro a button{
    width: 150px;
    height: 50px;
    font-size: 20px;

    border-radius: 150px;
}